body {
    background-color: #ddd;
}

.all-dropdown-menus-container {
    display: flex;
    align-items: flex-start;
}

.dropdown-menu-container {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid black;
    background-color: #bbb;

    & button,
    li > a {
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    & li > a {
        display: block;
        background-color: #bbb;
    }

    & li > a:hover {
        background-color: #eee;
    }
}

.hidden {
    display: none;
}
